# System
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Desktop.ini
Thumbs.db
ehthumbs.db

# IDE
nbproject/
.idea
*.iml
.vscode
*.sublime-project
*.sublime-workspace

# Project
node_modules
.env
dist/
build/
/tmp/
